::-webkit-scrollbar {
   width: 6px;
   background: #343536;
}

::-webkit-scrollbar-thumb {
   border-radius: 3px;
   background: #0FAE96;
}

section, .section {
   overflow: visible;
   min-height: auto;
   display: block !important;
   padding-left: max(calc(50vw - 56.5rem), 4rem);
   padding-right: max(calc(50vw - 56.5rem), 4rem);
   padding-top: 8rem;
   padding-bottom: 8rem;
}

.hero {
   position: relative;
   overflow-x: hidden;
   padding-top: 0;
   padding-bottom: 0;
}

.presentation {
   display: flex;
   flex-direction: column;
   height: 100vh;
   height: calc(100vh - 105px);
   padding-bottom: 5rem;
   padding-top: 5rem;
}

.infos {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 1.4rem 0 4rem;
}

.infos > * {
   margin: .6rem 1rem;
}

.infos .logo {
   height: 8rem;
}

.info-box {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   align-items: center;
   gap: 1rem;
}

.icons {
   display: flex;
   gap: 1rem;
}

.icons img {
   height: 4.5rem;
}

.preview-container {
   flex-grow: 1;
   min-height: 30rem;
   position: relative;
}

.preview-container img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   max-height: 90%;
   max-width: 100%;
}

h2 {
   color: #5EDE99;
   font-size: 3.4rem;
   font-weight: 600;
   margin-bottom: 2.2rem;
}

p {
   font-size: 1.8rem;
}

h2 + p {
   margin-bottom: 4rem;
}

.process-grid {
   display: grid;
   align-items: center;
   grid-template-columns: repeat(11, minmax(0, 1fr));
   grid-template-rows: repeat(2, auto);
   grid-template-areas: 
    "icon-1 arrow-1 icon-2 arrow-2 icon-3 arrow-3 icon-4 arrow-4 icon-5 arrow-5 icon-6"
    "span-1 . span-2 . span-3 . span-4 . span-5 . span-6";
   gap: 1.2rem 1.6rem;
   text-align: center;
}

.process-grid .icon {
   aspect-ratio: 1/1;
   background: #5B9375;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: .4rem;
   padding: 1.2rem;
   transform-origin: right bottom;
   will-change: transform;
   transition: transform .15s;
}

.process-grid .icon:hover {
   transform: rotate(3deg);
}


.process-grid :nth-child(1) { grid-area: icon-1; }
.process-grid :nth-child(2) { grid-area: span-1; }
.process-grid :nth-child(3) { grid-area: arrow-1; }
.process-grid :nth-child(4) { grid-area: icon-2; }
.process-grid :nth-child(5) { grid-area: span-2; }
.process-grid :nth-child(6) { grid-area: arrow-2; }
.process-grid :nth-child(7) { grid-area: icon-3; }
.process-grid :nth-child(8) { grid-area: span-3; }
.process-grid :nth-child(9) { grid-area: arrow-3; }
.process-grid :nth-child(10) { grid-area: icon-4; }
.process-grid :nth-child(11) { grid-area: span-4; }
.process-grid :nth-child(12) { grid-area: arrow-4; }
.process-grid :nth-child(13) { grid-area: icon-5; }
.process-grid :nth-child(14) { grid-area: span-5; }
.process-grid :nth-child(15) { grid-area: arrow-5 }
.process-grid :nth-child(16) { grid-area: icon-6; }
.process-grid :nth-child(17) { grid-area: span-6; }

.process-grid .arrow {
   background: #5EDE99;
   width: 100%;
   height: .2rem;
   position: relative;
}

.process-grid .arrow::after {
   content: "";
   position: absolute;
   top: -0.7rem;
   right: -0.1rem;
   height: 1.6rem;
   width: 1rem;
   background: url(../Image/arrow_icon.svg) no-repeat right;
}

.process-grid span {
   height: 100%;
   font-weight: 600;
   line-height: 1.3em;
   justify-self: center;
}

.process-grid img {
   height: 4rem;
}

.img-wrapper {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 2rem;
}

.img-wrapper img {
   width: 100%;
   transition: transform .1s;
}

.img-wrapper img:hover {
   transform: translateY(-1rem);
}

.project-carousel {
   display: flex;
   min-height: 30rem;
   overflow-x: auto;
   background: #343536;
}

.project-carousel::-webkit-scrollbar {
   display: none;
}

.project-carousel a {
   flex-basis: 0;
   flex-grow: 1;
   min-width: 16rem;
   overflow: hidden;
   position: relative;
}

.project-carousel a::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: #292A2B;
   opacity: 0;
   transition: opacity .2s;
}

.project-carousel img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
   will-change: transform;
   transition: transform .2s;
}

.project-carousel:hover a::after {
   opacity: .5;
}

.project-carousel a:hover img {
   transform: scale(1.06);
}

.project-carousel a:hover::after {
   opacity: 0;
}

@media screen and (max-width: 1024px) {
   .process-grid {
      grid-template-columns: repeat(5, minmax(0, 1fr));
      grid-template-rows: repeat(4, auto);
      grid-template-areas: 
       "icon-1 arrow-1 icon-2 arrow-2 icon-3"
       "span-1 . span-2 . span-3"
       "icon-4 arrow-4 icon-5 arrow-5 icon-6"
       "span-4 . span-5 . span-6";
   }

   .process-grid :nth-child(9) {
      grid-area: arrow-3;
      display: none;
   }

   .img-wrapper {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 768px) {
   .presentation {
      height: auto;
   }

   .infos {
      padding: 4rem 0;
   }

   .img-wrapper {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 425px) {
   .process-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(6, auto);
      grid-template-areas: 
       "icon-1 arrow-1 icon-2"
       "span-1 . span-2"
       "icon-3 arrow-3 icon-4"
       "span-3 . span-4"
       "icon-5 arrow-5 icon-6"
       "span-5 . span-6";
   }

   .process-grid :nth-child(6) {
      grid-area: arrow-2;
      display: none;
   }
   .process-grid :nth-child(9) {
      grid-area: arrow-3;
      display: block;
   }
   .process-grid :nth-child(12) {
      grid-area: arrow-4;
      display: none;
   }
}